<div class="Footer-content">
	<h4 class="Heading--collapse">ONLINE SHOPPING SUPPORT</h4>
	<h5 class="Footer-supportPhone"><a class="Footer-link" href="tel:1300753567"/>1300 753 567</a></h5>
	<dl class="OpeningHours">
		<dt class="OpeningHours-title">International</dt>
		<dd class="OpeningHours-item"><a class="Footer-link" href="tel:6152462433"/>+61 5246 2433</a></dd>
		<dt class="OpeningHours-title">Monday to Friday</dt>
		<dd class="OpeningHours-item">8:30am to 8:30pm AEDT</dd>
		<dt class="OpeningHours-title">Saturday</dt>
		<dd class="OpeningHours-item">8:30am to 5pm AEDT</dd>
		<dt class="OpeningHours-title">Closed Sunday</dt>
		<dd class="OpeningHours-item">and public holidays</dd>
	</dl>
</div>

<div class="Footer-content">
	<h3>SITE POLICY</h3>
	<ul class="PolicyList">
		<li class="PolicyList-item"><a class="Footer-link" href="https://www.target.com.au/corporate/condition-of-use">Conditions of use</a></li>
		<li class="PolicyList-item"><a class="Footer-link" href="https://www.target.com.au/corporate/privacy">Privacy policy</a></li>
		<li class="PolicyList-item"><a class="Footer-link" href="https://www.target.com.au/sitemap">Sitemap</a></li>
	</ul>
</div>

<div class="Footer-content">
	<p class="Paragraph--micro">Copyright &copy; 2016 Target Australia Pty Ltd <span class="u-noWrap">ABN 75 004 250 944.</span> Target Australia Pty Ltd is part of the Wesfarmers Ltd group and has no affiliation with Target Corporation US.
	</p>
</div>
