<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>body {font-family: sans-serif;}</style>
	<script>
	function payNow() {
		location.href = '/#/checkout?token=<%- token %>';
	}
	</script>
</head>
<body height="100%">
	<div style="width:380px;margin:auto;border:2px solid blue;padding:16px;">
		<h4>Welcome to FakePal®</h4>
		<p>Your payment token is: <strong><%- token %></strong></p>
		<p>Basket total: <strong><%- total && total.total && total.total.formattedValue %></strong></p>
		<div align="center">
			<button onClick="payNow()">Pay Now</button>
		</div>
	</div>
</body>
</html>
